# Virtual environments
venv/
venv312/
ENV/
env/
.env

# Python cache
__pycache__/
*.pyc

# Logs
*.log
guld_log.csv
data/raw/*.csv
data/processed/*.csv
data/processed/*.json
data/processed/*.md
data/input/*.csv

# OS junk
.DS_Store
